<a href="https://colab.research.google.com/github/christyuda/ComputerGames/blob/main/ComputerGames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("computer_games.csv")

import sklearn
from sklearn import datasets
iris = datasets.load_iris()

In [ ]:
df.columns

Index(['Name', 'Developer', 'Producer', 'Genre', 'Operating System',
       'Date Released'],
      dtype='object')

In [ ]:
df['Genre'].value_counts()

First-person shooter                                 103
RTS                                                   48
Action-adventure                                      42
Sports                                                34
Role-playing                                          33
                                                    ...
Tower defense, action RPG                              1
Roguelike, indie                                       1
Construction and management simulation, Roguelike      1
4X                                                     1
Adventure game                                         1
Name: Genre, Length: 282, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
wil = preprocessing.LabelEncoder()
X = df.apply(wil.fit_transform)
X

      Name  Developer  Producer  Genre  Operating System  Date Released
0       58         67        68     62                50            398
1       59         35        40    263                79              2
2       57        366        24    116                79            679
3       60        395       237     58                50            909
4       61        102        96     96                50             13
...    ...        ...       ...    ...               ...            ...
1090    28        456       134    236                50            347
1091    29        210       210    232                 3              8
1092    30        166       143    106                50            173
1093    31        553       257    175                50            897
1094    32        517       167     59                72            896

[1095 rows x 6 columns]

In [ ]:
y1 = X[['Genre']].values

In [ ]:
x1 = X[['Name','Developer','Producer','Operating System']]

In [ ]:
y1[0:5]

array([[ 62],
       [263],
       [116],
       [ 58],
       [ 96]])

In [ ]:
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(x1, y1, test_size=0.1, random_state=0)
print ('Train set:', X_train.shape, Y_train.shape)
print ('Test set:', X_test.shape, Y_test.shape)

Train set: (985, 3) (985, 1)
Test set: (110, 3) (110, 1)

In [ ]:

from sklearn.svm import SVC
from sklearn.svm import SVC
model = SVC(kernel='rbf', gamma='auto')
model.fit(X_train,Y_train)
Hasil_prediksi=model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,f1_score,recall_score
print("accuracy score:",(accuracy_score(Hasil_prediksi,Y_test)*100,"%"))

accuracy score: (24.545454545454547, '%')